body{
    margin: 0px;
}

#body-header{
    height: 65vh;
    background-image: url(macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.nav-style{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
#header-style{
    color: white;
    text-align: center;
    margin-top: 135px;
}
.nav-style li a{
    text-decoration: none;
    color: white;
    transition: color 0.5s,text-decoration 4s;
}

.nav-style li a:hover{
    text-decoration: underline;
    color: wheat;
}

.nav-style li{
    color: blue;
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.icon-style li img{
    height: 15px;
    margin: 0px 11px;
}
.text-align{
    text-align: center;
}
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: 10vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n + 1) {
    background-color: white;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skill-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}
.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.fifty-percent {
    height: inherit;
    width: 50%;
}
.blue {
    background-color: #2857a4;
}
.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}
.timeline {
    position: relative;
    width: 75%;
}
.timeline-container {
    padding: 8px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.experience-designation {
    font-size: 1.4rem;
}
.m0 {
    margin: 0;
}
.m-blue {
    color: #2857a4;
}
.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}
.text-justify {
    text-align: justify;
}
.timeline-box:nth-child(2n) {
    left: 53%;
}
#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 66%;
    color: #433E3F;
}
#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}
#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}